.futher-reading {
  display: flex;
  background: #b6a6a2;
  padding: 6rem 2rem 2rem;

  &__section-title {
    width: 30%;
    font-family: $sans-serif;
    font-size: 2rem;
  }

  &__posts-wrapper {
    width: 70%;
    columns: 3 13rem;
  }

  &__post {
    margin: 0 0 1rem;
    padding: 1rem;
    break-inside: avoid-column;
    background: white;
  }

  &__post-title {
    margin: 6rem 0 0;
    font-size: 2rem;
    font-weight: 200;
  }

  &__post_thumbnail {
    object-fit: cover;
    width: 60%;
  }
}
