@import "~sass-mq";

.newsletter {
  width: 100vw;
  height: 100vh;
  background-color: #f3e4d1;
  position: relative;

  &__inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @include mq($from: tablet) {
      font-size: 2rem;
      width: 40vw;
    }
  }

  &__discription {
    padding: $spacer;
  }

  input {
    background-color: #f3e4d1;
  }
}
