@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/entry-meta";
@import "components/entry";
@import "components/forms";
@import "components/futher-reading";
@import "components/wp-classes";
@import "components/bookshelf";
@import "components/subscribe";
@import "components/popup";
@import "components/newsletter";
@import "layouts/article";
@import "layouts/header";
@import "layouts/home";
@import "layouts/menu";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "~sass-mq";
@import "~animate.css/animate.css";
@import "~normalize.css/normalize.css";

body {
  font-family: $serif;
}

p {
  font-size: 1rem;
  color: #363636;
  letter-spacing: -0.03125rem;
}

li { list-style: none; }

input {
  margin: auto;
  font-size: 1rem;
  font-family: $sans-serif;
  border: none;
  outline: none;
  border-bottom: solid 1px #a5a195;
}

button {
  border: solid 1px #333;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: $sans-serif;
  outline: none;
  background: none;
}

.content ul { margin: 0; }

.width-25 {
  width: 100vw;

  @include mq($from: tablet) {
    width: 25vw;
  }
}

h1 {
  font-size: 1.5rem;

  @include mq($from: tablet) {
    font-size: 3rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.content h2:not(:first-child) {
  margin: 1rem 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

.input-box { border: none; }

.wrap.container {
  max-width: none;
  width: 100vw;
  margin: auto;

  @include mq($from: tablet) { width: 90vw; }
}

/** Newsletter Sec */
.flex-wrapper-newsletter {
  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .nsl-image {
    grid-column: 1;
  }

  .subscribe-grid-wrapper {
    margin: auto;
    text-align: center;
    grid-column: 2;

    h1 {
      font-size: 3rem;
    }

    .SubscribeForm {
      width: 100%;

      .subscribe-form-wrapper {
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #333;

        @include mq($from: tablet) {
          width: 50%;
        }
      }

      .subscribe-button { border: none; }
    }
  }
}

/** content-single.blade (Article) */

/** article sec */

/**
.article {
  margin: 0 1rem;

  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
    grid-gap: 2rem;
  }

  .title-wrapper {
    grid-column: 1 / -1;
    margin: 4rem 0 4rem;

    .title {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .entry-meta {
    border-top: 1px solid #363636;

    @include mq($from: tablet) {
      grid-column: 1 / span 1;
      grid-row: 3;
      margin-right: 5rem;
    }

    .categories,
    .date {
      color: #363636;
      margin: 0.3rem;
      font-size: 1rem;
      border: none;
    }

    .date { padding: 0 0 4rem; }
  }

  p {
    @include mq($from: tablet) {
      grid-column: 1;
      font-size: 1rem;
    }
  }

  h2,
  h3 {
    font-size: 1.2rem;
    font-weight: 400;

    @include mq($from: tablet) {
      grid-column: 1;
    }
  }

  .wp-block-image,
  .wp-block-gallery {
    margin: 0;

    @include mq($from: tablet) {
      grid-column: 3 / -1;
    }
  }
}
*/
.separate-wrapper {
  @include mq($from: tablet) {
    display: grid;
    grid-auto-columns: 4fr 4fr;
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    width: 90vw;
    height: 100%;
    align-items: flex-start;
    margin: auto;
  }

  @include mq($from: desktop) {
    grid-auto-columns: 5fr 4fr;
  }

  .grid-title {
    grid-column: 1 / span 2;
    margin: 4rem 2rem 2rem;

    @include mq($from: tablet) {
      margin: 6rem 2rem;
    }
  }

  .grid-img {
    margin: 2rem 1rem 0;

    @include mq(tablet) {
      position: sticky;
      top: 0;
    }

    @include mq($from: tablet) {
      grid-column: 1;
      margin: 2rem 0 0;
    }

    .space { margin: 8rem; }
  }

  .grid-text {
    margin: 2rem 1rem;

    @include mq($from: tablet) {
      margin: 20vh 4rem 0 2rem;
      border-left: solid 1px #a5a195;
      padding-left: 2rem;
      grid-column: 2;
    }

    @include mq($from: desktop) {
      max-width: 75%;
      position: sticky;
      top: 4rem;
    }

    h2,
    h3 {
      font-size: 1rem;
      font-weight: 400;
      font-family: $sans-serif;
    }
  }
}

/**
.wrap.container {
  max-width: none;

  .article {
    display: grid;
    grid-gap: 1rem 1.5rem;
    grid-template-columns: 4fr 2fr 6fr;
    padding: 6rem 0 10rem;

    p {
      grid-column: 1 / -1;

      @include mq($from: tablet) {
        grid-column: 2 / -1;
      }

      @include mq($from: wide) {
        grid-column: 3 / -1;
      }
    }

    .full { grid-column: 1 / -1; }

    .middle {
      @include mq($from: tablet) {
        grid-column: 2 / -1;
      }
    }

    .side {
      @include mq($from: tablet) {
        grid-column: 3 / -1;
      }
    }

    .add-padding {
      padding: 2rem 0 0;
    }

    .title-wrapper {
      grid-column: 1 / -1;
      grid-row: 1;

      .title {
        font-size: 2rem;
        font-weight: 500;
        color: #363636;

        @include mq($from: tablet) {
          font-size: 5rem;
        }
      }
    }

    .entry-meta {
      padding-top: 0.7rem;

      @include mq($from: tablet) {
        grid-column: 1 / span 1;
        grid-row: 3;
        margin-right: 5rem;
        border-top: 1px solid #363636;
      }

      .categories,
      .date {
        color: #363636;
        margin: 0.3rem;
        font-size: 1rem;
        font-family: $sans-serif;
        border: none;
      }

      .categories a:hover {
        border-bottom: solid 1px;
      }
    }

    figure:first-of-type {
      @include mq($from: tablet) {
        margin: 0 0 2rem;
        grid-row: 3;
      }
    }

    h2:first-of-type {
      font-size: 1.1rem;
      font-weight: 400;

      @include mq($from: tablet) {
        grid-column: 2 / -1;
        grid-row: 2;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }
    }

    .wp-block-image {
      margin: 0;
    }

    .wp-block-gallery {
      margin: 0;

      @include mq($from: tablet) {
        grid-column: 1 / -1;
      }

      .blocks-gallery-item {
        margin: 0.5rem 0;
        width: calc(100% / 1);

        @include mq($from: tablet) {
          width: calc(100% / 2);
        }
      }

      .blocks-gallery-item:first-of-type {
        @include mq($from: tablet) {
          padding: 0 0.5rem 0 0;
        }
      }

      figure {
        margin: 0;
      }
    }

    blockquote {
      background-color: #ede1d5;
      align-self: start;
      font-family: $sans-serif;
      border-left: none;
      padding: 0;

      @include mq($from: tablet) {
        grid-column: 2 / span 1;
        grid-row: span 2;
      }
    }

    blockquote p {
      font-size: 1.2rem;

      @include mq($from: tablet) {
        font-size: 2rem;
      }
    }

    .navitem {
      font-family: $sans-serif;
      font-size: 1.1rem;
    }

    .prev {
      text-align: left;
    }

    .next {
      text-align: right;
    }
  }
}

.article > * {
  grid-column: 1 / -1;

  @include mq($from: tablet) {
    grid-column: 2 / -1;
  }

  @include mq($from: wide) {
    grid-column: 2 / -1;
  }
}
*/

