@import "~sass-mq";

.article {
  width: 90vw;
  margin: auto;

  &__gird-container {
    @include mq($from: tablet) {
      display: grid;
      grid-template-columns: 8fr 2fr;
      grid-template-rows: auto;
      grid-template-areas: "thumbnail header";
    }
  }

  &__thumbnail {
    grid-area: thumbnail;
  }

  &__header {
    grid-area: header;
    margin: auto 2rem;
  }

  &__header-title {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__grid {
    @include mq($from: tablet) {
      padding-top: 6rem;
      display: grid;
      grid-template-columns: auto 50%;
      grid-gap: 6rem 4rem;
    }
  }

  &__img {
    @include mq($from: tablet) {
      columns: 2;
    }
  }
}
