.posts {
  &__gird-container {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid black;
  }

  &__title {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    border-right: 2px solid black;
  }

  &__thumbnail {
    width: 50%;
  }

  &__header-title {
    font-size: 2rem;
    color: black;
  }

  &__content {
    padding: 0 4rem;
    width: 50vw;
    background: #f7f1e6;
  }

  p {
    padding: 2rem;
  }
}
