.posts {
  &__gird-container {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid black;
  }

  &__title {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    border-right: 2px solid black;
  }

  &__thumbnail {
    width: 50%;
  }

  &__header-title {
    font-size: 4rem;
    letter-spacing: -4px;
    color: black;
  }

  &__content {
    width: 50vw;

    img {
      width: 80%;
    }

    img:nth-of-type(1) {
      width: 100%;
    }
  }

  p {
    padding: 2rem;
  }

  figure {
    width: 100%;
    text-align: center;
  }
}
